body {
  /* font: 14px "Century Gothic", Futura, sans-serif; */
  font: 14px "Courier", Futura, sans-serif;
  margin: 20px;
  background: #181818;
  color: #fff;
}
/* 
  Dark Mode:
  https://material.io/design/color/dark-theme.html#properties 
  Good example site:
  https://www.computerhope.com/issues/ch000072.htm
 */

ol, ul {
  padding-left: 30px;
}

.letter-o {
  font-color: Blue;
}

.letter-x {
  font-color: Red;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.board {
  margin: 20px;
}

.status {
  font-size: 24px;
  margin-bottom: 20px;
}

.square {
  background: #505050;
  /* background: #fdf5e6; */
  border: 1px solid #999;
  float: left;
  font-family: Courier;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 150px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 150px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
  background: #303030;
}

.game-info {
  margin-left: 20px;
}

